.git
.github
.idea
.vscode

.env
.env.*
*.pem
*.key
*.crt

.cheragh
data
dist
build
wheel-smoke
sdist-smoke

.mypy_cache
.pytest_cache
.ruff_cache
**/__pycache__
*.py[cod]
*.egg-info

.venv
venv

docs
examples
tests
